In [1]:
import pandas as pd
import pickle
import pandas_datareader.data as web

In [4]:
pd.options.display.float_format = '{:,.3f}'.format
results = pd.read_pickle("experiment_results_gb.p")
results.ix['Conservative']

,CV_Precision_Mean,CV_Precision_CI,CV_Success%,Test_Precision,Test_Success%,Profits
ITUB4,0.865,0.131,0.128,NaN,NaN,NaN
BBDC4,0.918,0.105,0.142,NaN,NaN,NaN
ABEV3,0.853,0.153,0.068,NaN,NaN,NaN
PETR4,0.876,0.107,0.167,NaN,NaN,NaN
VALE5,0.881,0.132,0.168,NaN,NaN,NaN
VALE3,0.861,0.117,0.169,NaN,NaN,NaN
BBAS3,0.889,0.087,0.189,NaN,NaN,NaN
PETR3,0.858,0.084,0.183,NaN,NaN,NaN

In [5]:
results = pd.read_pickle("experiment_results_rf.p")
results.ix['Conservative']

,CV_Precision_Mean,CV_Precision_CI,CV_Success%,Test_Precision,Test_Success%,Profits
ITUB4,0.806,0.119,0.128,NaN,NaN,NaN
BBDC4,0.906,0.199,0.142,NaN,NaN,NaN
ABEV3,0.860,0.191,0.068,NaN,NaN,NaN
PETR4,0.879,0.125,0.167,NaN,NaN,NaN
VALE5,0.874,0.122,0.168,NaN,NaN,NaN
VALE3,0.856,0.075,0.169,NaN,NaN,NaN
BBAS3,0.862,0.105,0.189,NaN,NaN,NaN
PETR3,0.887,0.114,0.183,NaN,NaN,NaN

In [6]:
results = pd.read_pickle("experiment_results_knn.p")
results.ix['Conservative']

,CV_Precision_Mean,CV_Precision_CI,CV_Success%,Test_Precision,Test_Success%,Profits
ITUB4,0.797,0.142,0.128,NaN,NaN,NaN
BBDC4,0.763,0.116,0.142,NaN,NaN,NaN
ABEV3,0.787,0.096,0.068,NaN,NaN,NaN
PETR4,0.791,0.067,0.167,NaN,NaN,NaN
VALE5,0.806,0.096,0.168,NaN,NaN,NaN
VALE3,0.806,0.098,0.169,NaN,NaN,NaN
BBAS3,0.787,0.061,0.189,NaN,NaN,NaN
PETR3,0.801,0.085,0.183,NaN,NaN,NaN

In [93]:
# clearly overfitting... waaay overfitted
# need a lot more regularization in order to perform better

In [94]:
results.index

MultiIndex(levels=[['Conservative'], ['ABEV3', 'BBAS3', 'BBDC4', 'ITUB4', 'PETR3', 'PETR4', 'VALE3', 'VALE5']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0], [3, 2, 0, 5, 7, 6, 1, 4]])

In [95]:
strategy = 'Conservative'
symbol = 'PETR4'
with open(strategy + '_' + symbol + '_train.p', 'rb') as f:
    data = pickle.load(f)

In [75]:
start_date_test = '2015-01-02'
end_date_test='2016-12-30'

sd = web.DataReader(symbol + '.SA', 'yahoo', start_date_test, start_date_test)
ed = web.DataReader(symbol + '.SA', 'yahoo', end_date_test, end_date_test)
float(ed['Adj Close']) / float(sd['Adj Close']) - 1

0.5886752136752136

0.5886752136752136